/* .bg-c-blue{
  background: linear-gradient(
    45deg, #4099ff, #73b4ff);
}
.bg-c-green {
  background: linear-gradient(
45deg, #2ed8b6, #59e0c5);
}
.bg-c-yellow {
  background: linear-gradient(
45deg, #FFB64D, #e9cba2);
}
.bg-c-red {
  background: linear-gradient(
45deg, #FF5370, #ff869a);
}
.card{
  box-shadow: 0 1px 2.94px 0.06px rgb(4 26 55 / 16%);
    margin-bottom: 30px;
}

.order-card {
  color: #fff;
}
.order-card i {
  font-size: 26px;
}
.text-right {
  text-align: right !important;
 
}
.float-right {
  float: right !important;

}
.float-left {
  float: left !important;
  box-sizing: border-box;
}

 */
